gunicorn==19.7.1
Naked==0.1.31
PyYAML==3.12
backports-abc==0.5
beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
idna==2.6
PyMySQL==0.8.0
pycrypto==2.6.1
requests==2.18.4
shellescape==3.4.1
tornado==4.5.3
urllib3==1.26.5
